* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.CodeMirror {
  min-height: calc(100vh - 0px);
  line-height: 1.6;
  padding-top: 20px;
}

@media screen and (max-width: 1024px) {
  .CodeMirror {
    line-height: 1.6;
    padding-top: 80px;
  }
}
